<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logfile.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--            <fileNamePattern>logs/log-%d{yyyy-MM-dd_HH}.log</fileNamePattern>-->
            <fileNamePattern>logs/%d{yyyy-MM-dd, aux}/log-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
<!--            <maxHistory>24</maxHistory>-->
        </rollingPolicy>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/log-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>24</maxHistory>
            <totalSizeCap>1GB</totalSizeCap> <!-- Пример ограничения общего размера -->
        </rollingPolicy>

    </appender>

    <!-- Установка корневого логгера -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
